table {
    margin: 0px 50px 0px 10px;  /*Sup Der Inf Izq*/
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: left;
    border-collapse: collapse;
    width: 98%;
}


table th {
    padding: 10px 12px 10px 12px;  /*Sup Der Inf Izq*/
    background-color: #5262BB;
    color: white;
}


table td {
    border: 7px solid #FFFFFF;
    padding: 3px 10px 3px 10px;
}


table img {
    height: 80px;    
    width: auto;
}