table {
    margin: 0px 70px 0px 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: left;
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 98%;
}


table th {
    padding: 10px 12px 10px 12px;
    color: #3347FF;
}


table td {
    padding: 3px 10px 3px 10px;
}


table img {
    width: auto;
    height: 40px;
    border-radius: 15px;
}
